body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.header {
    background-color: #3a3a3a;
    color: white;
    padding: 10px 0;
}
.header .logo img {
    height: 50px;
}
.header .social-icons i {
    margin: 0 5px;
}
.navbar {
    background-color: #2ca8a4;
}
.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}
.dropdown-menu a {
    color: black !important;
}
.main-content {
    padding: 20px;
}
.post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}
.post-button {
    background-color: #a3a847;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.tags .tag {
    display: inline-block;
    background-color: #e0f7fa;
    color: #00796b;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #ffd700; 
    border-radius: 5px;
    padding: 5px;
}

.menu-text {
    color: #000; 
    font-weight: bold;
    font-size: 16px;
}
